<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap   = "http://phonegap.com/ns/1.0"
  id          = "easyread.App"
  version     = "1.1.0">

  <name>Social Care Easy Read App</name>

  <description>
    The Care Council for Wales is the social care
    workforce regulator in Wales responsible for
    promoting and securing high standards across
    the social services and social care workforce.
  </description>

  <author href="http://www.clickymedia.co.uk" email="carecouncilwales@clickymedia.co.uk">
      Care Council for Wales
  </author>

  <preference name="orientation"              value="portrait" />
  <preference name="target-device"            value="universal" />
  <preference name="fullscreen"               value="true" />
  <preference name="disable-cursor"           value="true" />
  <preference name="android-installLocation"  value="auto" />
  
  <access origin="*" />
  
  <preference name="permissions" value="none"/>
  
  <gap:splash src="splash.png" />
  
  <icon src="pg/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="pg/icon72.png" gap:platform="ios" width="72" height="72" />
<icon src="pg/icon114.png" gap:platform="ios" width="114" height="114" />
  
    <gap:splash src="splash/ios/Default.png" width="320" height="480" />
  <gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
  <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
  <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
  
  
  
</widget>